

canvas
{
    border:1px solid rgb(14, 13, 13);
}

 .Btn
{
    margin-top: 50px;
}

.form-group
{
    margin-top: 15px;
}

.form-group input
{
    max-width: 300px;
}
/* > 是什么意思？？ */
.gifList > li img 
{
    max-width: 200px;
}

.gifList > li
{
    display: inline-block;
    margin-right: 5px;
}

.gifList
{
    padding: 0px;
}

.form-group input
{
    margin-right: 5px;
    max-width: 250px;
    display: inline-block;
}


